.project-gallery {
    display: flex;
    justify-content: center;
}

.slideshow-container img {
  height: 100%;
  width: auto;
}

.slideshow-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  overflow: hidden;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80%;
    background-color: rgb(0, 0, 0);
    padding-bottom: 115px;
    border-bottom: 2px solid rgb(235, 235, 235);
    border-radius: 2rem;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-radius: 5px;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.select-container {
  display: flex;
  position: absolute;
  width: 95%;
  height: 100px;
  bottom: 0;
  overflow-x: scroll;
  padding: 10px 20px;
}

.select-container::-webkit-scrollbar {
  width: 8px;
}

.select-container::-webkit-scrollbar-track {
  background: transparent;
}

.select-container::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.6); 
  border-radius: 15px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.select-image {
  margin: 0 2px;
  border-radius: 5px;
}

.select-image.active {
  scale: 1.15;
}

.testimonial {
  opacity: 1;
  scale: 1;
  transform-origin: left center;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(235, 235, 235, 0.726);
    padding: 50px;
    line-height: 1.25;
    border-radius: 10px;
    max-width: 500px;
    min-width: 300px;
  transition: opacity 1.5s, scale 1s;
  z-index: 3;
}

.close-testimonial {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(31, 31, 31);
}

.close-testimonial:hover {
  cursor: pointer;
  color: rgb(119, 119, 119);
}

.open-testimonial {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  bottom: 120px;
  left: 15px;
}

.open-testimonial:hover {
  cursor: pointer;
  color: rgb(119, 119, 119);
}

.testimonial-hidden {
  opacity: 0;
  scale: .25;
  position: absolute;
  transition: opacity 1s, scale 1s;
}

.hidden {
  display: none;
}

.full-project {
    position: absolute;
    bottom: 15%;
    left: 50%;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #354d43;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(235, 235, 235);
    box-shadow: 0px 0px 5px 2px black;
    border: 1px solid rgba(0, 0, 0, 0.623);
}

.full-project:hover {
    background-color: #2b3c32;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .slideshow-container {
    width: 100%;
    border-radius: 0;
  }

  .slideshow-container img {
    height: auto;
    width: 100%;
  }

  .testimonial {
    background-color: rgb(235, 235, 235);
    padding: 50px 30px;
  }
}